@tailwind base;
@tailwind components;
@tailwind utilities;


.form-container {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .hidden {
    display: none;
  }
  
  .opacity-0 {
    opacity: 0;
  }
  
  .opacity-100 {
    opacity: 100;
  }
  